@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
            body
{background: linear-gradient(270deg, #2c9d80, #2c4c9d, #9d782c, #9d2c99);
background-size: 800% 800%;

-webkit-animation: Gradient 30s ease infinite;
-moz-animation: Gradient 30s ease infinite;
animation: Gradient 30s ease infinite;
    width:100%;
    height:100%;
    min-width:100%;
    min-height:100%;
    margin:0;
}
@-webkit-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Gradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.h
{ font-family: 'Great Vibes', cursive;
    color:white;
    text-align: left;
    margin-left:25px;
    padding:20px;
    padding-left:40px;
    font-weight: normal;
}
.w
{
     animation-duration: 3s;
}
.hf
{
   font-family: 'Great Vibes', cursive;
    color:white; 
    padding-top:25px;
}
.header
{
    margin:20px;
    display:flex;
    flex-direction:row;
}
.body{
    margin-top:1em;
}
html
{background: linear-gradient(270deg, #2c9d80, #2c4c9d, #9d782c, #9d2c99);
background-size: 800% 800%;

-webkit-animation: Gradient 30s ease infinite;
-moz-animation: Gradient 30s ease infinite;
animation: Gradient 30s ease infinite;
    min-width:100%;
    min-height:100%;
    width:100%;
    height:100%;
    margin:0;
}
.b
{
    margin:10px;
    
    min-width:100%;
    min-height:100%;
    width:100%;
    height:100%;

}.b * {
    box-sizing:border-box;
    margin:5px;
    margin-left:25px;
}